# Build
build/
x64/
Debug/
Release/
out/

# Visual Studio
.vs/
*.vcxproj.user

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# binaries
*.exe
*.obj
*.pdb
*.lib
*.dll

# ImGui config optional
imgui.ini